*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --cl-light: #fff;
  --cl-dark: #303030;
  --cl-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25) 0.125em 0.125em 0.25em
    rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  margin: 0;
  padding: 0;
  background: var(--cl-light);
  color: var(--cl-dark);
  line-height: 1.6;
}

p,
h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

.menu__col {
  display: none;
}

header,
section {
  padding: 5em 1em;
}

strong {
  font-weight: var(--fw-bold);
  display: block;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
}

/* Introduction */

.intro {
  text-align: center;
}

.intro__name {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
}

.section__subtitle--intro {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  background: var(--cl-accent);
  padding: 0.2em 0.8em;
  margin: 0.5em 0;
}

.intro__img {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    width: min-content;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-gap: 0 1.5em;
    grid-template-columns: min-content max-content;
    grid-template-areas:
      "img name"
      "img subtitle";
  }

  .intro__name {
    grid-area: name;
  }

  .section__subtitle--intro {
    grid-area: subtitle;
    grid-column: 1 / -1;
    align-self: start;
    text-align: right;
    margin: 0;
    position: relative;
    left: -1.2em;
    width: calc(100% + 1.2em);
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
}
